@font-face {
    font-family: "BentonSans";
    src: url(../Fonts/BentonSans\ Regular.otf);
}

body{
    font-family: "BentonSans", Arial, Helvetica, sans-serif;
    color: #6e5636;
    font-size: 11px;
}

#eic img{
    height: 30px;
}

#email{
    font-size: 9px;
    font-weight: bold;
    text-decoration: underline;
}

